<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Lindholmen Lunch</title>
      <style type="text/css" media="screen">
         /*<![CDATA[*/
            div.dish span.name {
               font-weight: bold;
            }
         /*]]>*/
      </style>
   </head>
   <body>
      <div class="content">
         {% for r in menu %}
            <div class="restaurant">
               <div class="name"><a href="{{ r.url }}">{{ r.name }}</a></div>
               <div class="dishes">
                  {% for d in r.dishes %}
                     <div class="dish">
                        <span class="name">{{ d.dish }}</span>
                        <span class="desc">{{ d.desc }}</span>
                        <span class="price">{{ d.price }}</span>
                     </div> <!-- div dish -->
                  {% endfor %}
               </div>   <!-- div dishes -->
            </div>  <!-- div restaurant -->
         {% endfor %}
      </div>    <!-- div content -->

   </body>
</html>

